@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;700&display=swap');

$enable-negative-margins: true;
$primary: #5bd0d4;
$secondary: #fffafa;
$warning: #ffca2b;
$info: #398efa;
$font-family-base: 'League Spartan', sans-serif;
$input-placeholder-color: #414040;
$gris-1: #212529;

@import "../../node_modules/bootstrap/scss/bootstrap";

:root{
    --darkbg: #121212;
    --whitebg: #f5f7f6;
}
::-webkit-scrollbar{
    background-color: #d9d9db;
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: $primary;
    border-radius: 50px;
}
body{
    background-color: white;
    overflow-x: hidden;
}
//NAVBAR
.svg-header{
    height: 50px;
    width: 50px;
}
.strow-svg-custom{
    fill:none;
    stroke: $secondary;
    stroke-miterlimit:10;
}
.strow-svg-custom-dark{
    fill:none;
    stroke: var(--darkbg);
    stroke-miterlimit:10;
}
.navbar-color{
    background-color: transparent;
}
.color-navbar{
    background-color: var(--whitebg);
    box-shadow: 0px 1px 1px #afafaf;
}
.navbar-toggler{
    border: none;
}
.navbar-toggler:focus{
    border: none;
    outline: none;
    box-shadow: none;
}
.fa-bars{
    color: var(--darkbg);
}
//BANNER
.showcase{
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffff;
    padding: 0 20px;
}
.video-container video{
    min-width: 100%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
.video-container::after{
    content: '';
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
}
.content{
    z-index: 2;
}
.banner-text{
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(31, 30, 30, 0.6);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.banner-text h1{
    color: $light;
    font-size: 80px;
}
.banner-text .typed{
    color: $light;
    font-size: 20px;
}
.btn-contact{
    position: relative;
    display: block;
    transition: all 0.5s;
}
.fa-chevron-right {
    visibility: hidden;
    position: absolute;
    margin-left: 5px;
    bottom: 9px;
    transition: all 0.5s;
    opacity: 0;
}
.btn-contact:hover {
    padding-right: 8px;
}

.btn-contact:hover .fa-chevron-right {
    visibility: visible;
    position: absolute;
    margin-left: 5px;
    opacity: 1;
}
//CONOCENOS
.conocenos{
    position: relative;
    // margin-left: 8%
}
.container-mockup img{
    max-width: 100vh;
    max-height: 50vh;
    // width: 100%;
}

//CONTACTO

.form-control,
.form-control:focus{
    background-color: transparent;
    color: $dark;
}
form textarea{
    max-height: 400px;
}

//FOOTER
.copy-footer{
    background-color: black;
}
//BOTÓN IR ARRIBA
.ir-arriba {
	display:none;
	padding:12px 20px;
	font-size:20px;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
    // border-radius: 50%;
}

.ir-atras {
	padding:12px 20px;
	font-size:20px;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
    // border-radius: 50%;
}


//ALERTAS FORMS
.form-control{
    color: black;
}

.formulario__input-error {
    color: $danger;
	font-size: 14px;
	margin-bottom: 0;
	display: none;
}


.formulario__input-error-activo {
	display: block;
}

#quizinstrucciones{
    background-color: rgba(57, 142, 250, 0.5);
    border-radius: 10px;
}

.qr-code-size{
    width: 300px;
    height: 80%;
}

.fa-bug{
    font-size: 100px;
    color: $primary;
}

.check-test{
    font-size: 200px;
}
.svg-welcome{
    height: 300px;
}

.ayuda1{
    background-color: $gray-600;
}

.ayuda2{
    background-color: $gray-500;
}

.ayuda3{
    background-color: $gray-400;
}


@media (max-width: 576px) {
    .banner-text h1{
        color: $light;
        font-size: 200%;
    }
    .conocenos{
        margin-left: 0;
    }
    .img-redonda{
        width: 100%;
        height: 100%;
        margin-left: 1.2em;
    }
    .typed{
        text-align: center;
    }
}