<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CATARINA</title>
    <link rel="icon" href="https://firebasestorage.googleapis.com/v0/b/dictamigos.appspot.com/o/CatarinaGreen.png?alt=media&token=ddb8666b-e450-47c7-b600-ac7393e393ae">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/custom.css">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"/>
</head>

<body>
    <!-- NABAR -->
    <header id="inicio">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-color" id="menu">
            <div class="container">
                <a class="navbar-brand text-light" href="/"> 
                    <svg class="svg-header" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 215.94 322.36"><defs><style>.cls-1,.cls-7{stroke-width:4px;}.cls-2,.cls-5{stroke-width:6px;}.cls-3,.cls-5,.cls-7{stroke-linecap:round;}.cls-3,.cls-4{stroke-width:5px;}</style></defs><g id="Capa_2" data-name="Capa 2"><g id="Capa_1-2" data-name="Capa 1"><circle class="cls-1 strow-svg-custom svg-cls" cx="142" cy="114.7" r="12.57"/><circle class="cls-1 strow-svg-custom svg-cls" cx="144.76" cy="203.54" r="12.57"/><path class="cls-1 strow-svg-custom svg-cls" d="M177,156.82A12.56,12.56,0,0,0,197,167c.1-1.78.16-3.57.16-5.37a90.18,90.18,0,0,0-1.38-15.78,12.56,12.56,0,0,0-18.71,11Z"/><circle class="cls-1 strow-svg-custom svg-cls" cx="69.75" cy="114.7" r="12.57"/><circle class="cls-1 strow-svg-custom svg-cls" cx="69.75" cy="203.54" r="12.57"/><circle class="cls-2 strow-svg-custom svg-cls" cx="107.27" cy="161.31" r="89.86"/><path class="cls-1 strow-svg-custom svg-cls" d="M17.62,167.48a12.58,12.58,0,1,0,1.17-22,90.41,90.41,0,0,0-1.39,15.8C17.4,163.38,17.48,165.44,17.62,167.48Z"/><line class="cls-3 strow-svg-custom svg-cls" x1="105.88" y1="221.44" x2="105.88" y2="71.44"/><path class="cls-4 strow-svg-custom svg-cls" d="M105.88,221.44q13.16,13.37,26.3,26.75"/><path class="cls-4 strow-svg-custom svg-cls" d="M105.88,221.44,80.17,247"/><path class="cls-5 strow-svg-custom svg-cls" d="M144,79.29A89.91,89.91,0,0,0,67,81c-.69-2.58-4.4-17.38,4.49-31.19,11.18-17.37,32.1-17.32,34.41-17.27,4.25.08,18.3,1,28.87,12.73C147.51,59.34,144.43,77.2,144,79.29Z"/><path class="cls-3 strow-svg-custom svg-cls" d="M80.94,52.05a163.33,163.33,0,0,0-7.7-17.94C64.31,16.32,57.34,10.56,54.93,8.7,51.58,6.11,44.43.6,39.64,3.16c-2.33,1.25-3.33,4-3.79,6.07"/><path class="cls-3 strow-svg-custom svg-cls" d="M126.79,50.91A151,151,0,0,1,145,16.81C151.09,8.29,155.79,3.68,162,3.16a16.71,16.71,0,0,1,9.47,2.28"/><path class="cls-3 strow-svg-custom svg-cls" d="M41.28,100.32a28.57,28.57,0,0,0-4.55-6.52,26.88,26.88,0,0,0-6.95-5.37"/><path class="cls-3 strow-svg-custom svg-cls" d="M26.36,122.15a24,24,0,0,0-7.14-5.1,23.41,23.41,0,0,0-8-2.1"/><path class="cls-3 strow-svg-custom svg-cls" d="M17.81,152.74a26.14,26.14,0,0,0-8.78,1,25.64,25.64,0,0,0-6.53,2.92"/><circle class="cls-2 strow-svg-custom svg-cls" cx="107.27" cy="161.31" r="89.86"/><circle class="cls-4 strow-svg-custom svg-cls" cx="107.27" cy="161.31" r="89.86"/><path class="cls-7 strow-svg-custom svg-cls" d="M173.89,101A40.15,40.15,0,0,1,186,86.78"/><path class="cls-3 strow-svg-custom svg-cls" d="M188.2,122.2a44.24,44.24,0,0,1,8.45-5.6,43.22,43.22,0,0,1,6.82-2.78"/><path class="cls-3 strow-svg-custom svg-cls" d="M196.7,152.52a58.83,58.83,0,0,1,6.52,1,56.93,56.93,0,0,1,9.34,2.78"/></g></g></svg>
                    CATARINA
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars text-light"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#inicio">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#conocenos">Conócenos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#historia">Historia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#contacto">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/iniciarSesion"> Iniciar Sesión <i class="fas fa-sign-in-alt"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="showcase">
            <div class="video-container">
                <video src="https://firebasestorage.googleapis.com/v0/b/dictamigos.appspot.com/o/background-video.mp4?alt=media&token=c3c170e3-c4aa-480c-bf9c-ca1d8acce83f" autoplay muted loop style="width: 100%; height: 100vh;"></video>
            </div>

            <div class="content">
                <%- include ('./partials/catarina')  %>
                <h1 class="text-light"><b>CATARINA</b></h1>
                <!-- <p>Cuidando <span class="typed"></span></p> -->
                <a href="#contacto" class="btn btn-primary btn-contact px-4">Contáctanos<i class="fas fa-chevron-right mt-2"></i></a>
            </div>
        </div>
    </header>
    <!-- ABOUT US -->
    <div class="bg-secondary container-xxl conocenos mt-5" id="conocenos">
        <h2 class="text-center py-5 title-about">Acerca de nuestro proyecto</h2>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h3 class="fs-2 text-about">Proyecto Catarina</h3>
                <p class="fs-5 text-about">La aplicación para gestionar entrada de alumnos a sus respectivos planteles educativos 
                    durante la pandemia por COVID-19; esto con la finalidad de hacer estos espacios lo más 
                    seguros posible para estudiantes y docentes.</p>
                <p class="fs-5 text-about">El software ha sido desarrollado por alumnos del Insituto Politécnico Nacional para el uso 
                    de cualquier plantel y ha propuesto una innovadora forma de ingresar a los planteles.</p>
            </div>
            <div class="col-md-6 col-sm-12 text-center">
                <div class="container-mockup">
                    <img class="mockups-catarina" src="https://firebasestorage.googleapis.com/v0/b/dictamigos.appspot.com/o/Mockup%20Catarina-PhotoRoom.png?alt=media&token=db2e61ed-93fe-4b58-a691-209f6b7c5a37" alt="Mockups de Proyecto Catarina para gestionar entrada a escuelas en pandemia">
                </div>
            </div>
        </div>
    </div>
    <!-- REGISTRARSE -->
    <div class="row bg-info mx-auto justify-content-center px-2 regi-div">
        <div class="col-md-12 text-center my-3 title-servicios">
            <h2 class="display-6"><b>¿Eres director de alguna institución?</b></h2>
            <p class="fs-4">Si eres director o diriges alguna insitución, puedes registrarte para
                comenzar a llevar un mejor control de la salud de tus estudiantes. <br>
                ¡Ayúdanos a cuidarlos!
            </p>
            <a href="/registrarDirector" class="btn btn-secondary px-5">REGISTRARME</a>
        </div>
    </div>
    <!-- DETALLES -->
    <div class="row bg-secondary mx-auto justify-content-center px-4 team-container p-5" id="historia">
        <div class="col-md-5 col-sm-12 text-center py-4">
            <u class="h2 text-óbjetivo">Objetivo</u>
        </div>
        <div class="col-md-7 col-sm-12">
            <p class="text-objetivo"> Nuestro principal objetivo es hacer más fácil para los directivos realizar un cuestionario de síntomas de COVID-19 a los alumnos,
                las respuestas y resultados de este queden guardadas y se emita un código QR que permita verificar al momento de la entrada
                al plantel los datos del alumno, fecha en la que respondió ese cuestionario y si es seguro que acceda al plantel. Por
                otro lado, queremos que los directivos puedan ofrecer a los padres de familia la mayor seguridad posible para ellos y sus
                hijos; entonces si los casos de riesgo van en aumento el director podrá emitir alertas que serán enviadas por correo
                electrónico a los padres haciendo de su conocimiento esta información para que tomen las medidas que consideren pertinentes.
                ¿Nuestros diferenciadores? Le ofrecemos al director una gráfica que implementa un algoritmo de Machine Learning la cual
                permite ver a futuro como pueden ir creciendo o decreciendo los posibles casos en su planteles, además al profesor se le
                brinda una aplicación disponible para dispositivos con sistema operativo Android, que permite escanear los códigos QR
                de manera más fácil y ver la lista de alumnos para poder realizar de manera más sencilla la guardia en la entrada de la
                institución.</p>
        </div>
    </div>
    <div class="row bg-secondary mx-auto justify-content-center px-4 team-container">
        <div class="col-md-7 col-sm-12">
            <p class="text-necesidad">Con el regreso a clases presenciales o semipresenciales en el país, nace la incertidumbre de los padres de familia
            por las medidas que puedan tomar las escuelas para salvaguardar la salud de sus hijos en el plantel y cómo los directivos
            pueden tomar las precauciones necesarias para brindarles mayores garantías de esto; por eso surge la necesidad de crear 
            un programa fácil y cómodo de usar tanto para alumnos como para maestros, todo esto para que el director del plantel y los
            profesores puedan ver los resultados de una encuesta que se le aplica sobre síntomas de COVID-19 a los alumnos y el programa
            les dirá si son sujetos de riesgo o no; por otra parte el director tendrá apoyo de un algoritmo de Machine Learning para poder
            ver en tiempo futuro el crecimiento o el decrecimiento de los casos de riesgo en su plantel; así mismo en caso de que 
            se considere prudente tomar medidas más extremas, se podrán enviar alertas a los tutores para que estos puedan decidir en 
            familia y desde su casa, qué es lo mejor para sus hijos.</p>
        </div>
        <div class="col-md-5 col-sm-12 text-center py-4">
            <u class="h2 text-necesidad">Necesidad</u>
        </div>
    </div>
    <!-- CONTACTO -->
    <div class="row bg-secondary mx-auto justify-content-center px-4 py-4" id="contacto">
        <div class="col-12 title-contacto">
            <h2 class="text-center">CONTÁCTANOS</h2>
        </div>
        <div class="col-md-12 form-contact px-1">
            <form action="/EnviarCorreo" id="enviarCorreo" method="POST" class="px-4">
                <div id="input__name">
                    <input type="text" name="name" id="name" class="form-control mb-3" placeholder="Nombre" required>
                    <p class="formulario__input-error">El nombre tiene que tener de 1 a 40 caracteres y solo puede contener letras y acentos.</p>
                </div>
                <div id="input__email">
                    <input type="email" name="email" id="email" class="form-control mb-3" placeholder="Email" required>
                    <p class="formulario__input-error">El correo tiene que tener un formato válido.</p>
                </div>
                <div id="input__mensaje">
                    <textarea name="mensaje" id="mensaje" cols="10" rows="10" class="form-control mb-3" placeholder="Mensaje" required></textarea>
                    <p class="formulario__input-error">El mensaje tiene que tener mínimo 20 caracteres.</p>
                </div>
                <div class="row text-center">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-info px-5 mb-3"><i class="fas fa-paper-plane"></i> ENVIAR CORREO</button>
                    </div>
                </div>
            </form>
            <%if(typeof alert != "undefined"){%>
                <%- include ('./partials/message')  %>
            <%}%>
        </div>
    </div>
    <!-- FOOTER -->
    <footer class="text-center text-lg-start bg-secondary text-muted">
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <div class="me-5 d-none d-lg-block">
                <span>Sigue a los desarrolladores en redes sociales:</span>
            </div>
            <div>
                <a href="https://www.tiktok.com/@dictamigos" class="me-4 text-reset text-decoration-none">
                    <i class="fab fa-tiktok"></i>
                </a>
                <a href="https://www.instagram.com/dictamigos/" class="me-4 text-reset text-decoration-none">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </section>
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-6 col-sm-12 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-user-tie me-3"></i>DICTAMIGOS
                        </h6>
                        <p>
                            Diseñamos soluciones para cualquier tipo de problema que se nos presente, por medio del
                            desarrollo de software especializado.
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-12 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            DATOS DE CONTACTO
                        </h6>
                        <p><i class="fas fa-map-marker-alt me-3"></i> Mar Mediterraneo 227, Col. Popotla.</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            dictamigosasocs@gmail.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> +52 55 3732 5700</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Copyright -->
        <div class="text-center p-4">
            © 2022 Copyright:
            <a class="text-reset fw-bold text-decoration-none" href="https://www.dictamigos.xyz/">DICTAMIGOS & ASOCS.</a>
        </div>
    </footer>
    <!-- BOTÓN IR ARRIBA -->
    <span class="ir-arriba bg-primary text-light"><i class="fas fa-arrow-up"></i></span>
    <!-- SCRIPTS -->
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!-- TYPED JS -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <!-- SCROLL REVEAL -->
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <!-- SWEET ALERT -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- BOOTSTRAP -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- JS -->
    <script src="/js/main.js"></script>
</body>

</html>