<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CATARINA</title>
    <link rel="icon"
        href="https://firebasestorage.googleapis.com/v0/b/dictamigos.appspot.com/o/CatarinaGreen.png?alt=media&token=ddb8666b-e450-47c7-b600-ac7393e393ae">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/custom.css">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body class="py-5 my-5">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-center">¿OLVIDASTE TU CONTRASEÑA?</h4>
                        <p class="lead text-center">Ingresa el correo electrónico con el que creaste tu cuenta y posteriormente
                            revisa tu bandeja de entrada.
                        </p>
                        <div class="py-3">
                            <form class="row g-3" id="recuperarContra" method="POST" action="/recuperarContra">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fs-4" id="basic-addon1"><i class="far fa-at"></i></span>
                                    </div>
                                    <input type="email" class="form-control" id="user_correo" name="user_correo" placeholder="Correo electrónico" required>
                                    <p class="formulario__input-error">El correo tiene que ser un formato válido.</p>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary w-100 my-1">Recuperar contraseña</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%if(typeof alert != "undefined"){%>
        <%- include ('./message')  %>
    <%}%>

    <!-- SCRIPTS -->
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!-- SWEET ALERT -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- BOOTSTRAP -->
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>