<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CATARINA</title>
    <link rel="icon" href="https://firebasestorage.googleapis.com/v0/b/dictamigos.appspot.com/o/CatarinaGreen.png?alt=media&token=ddb8666b-e450-47c7-b600-ac7393e393ae">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/custom.css">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body class="py-5">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-sm-12">
                        <p class="text-center fs-1 lead text-primary">
                            <i class="fas fa-user-check"></i>
                        </p>
                        <p class="lead text-center fs-4">Verifica usuario</p>
                        <p class="lead text-center">Vimos que recién creaste una cuenta en <i class="text-primary">Catarina</i> y 
                        te agradecemos por eso. Pero te pedimos que por favor revises tu correo electrónico para poder verificar la cuenta.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%if(typeof alert != "undefined"){%>
        <%- include ('../partials/message')  %>
    <%}%>

    <!-- SCRIPTS -->
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!-- SWEET ALERT -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- BOOTSTRAP -->
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>